<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css'%}?{% now " U " %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="description" content="Мику чат бот для телеграма. Твоя виртуальная девушка в telegram">
    <meta name="keywords" content="Мику бот для  телеграм, бот мику девушка для телеграм, мику бот для telegram, telegram мику-бот, мику-бот" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <title>MikuBot | Telegram | О нас</title>
</head>

<body>
    <div class="page" id="page">
        <header>
            <img src="{% static 'images/miku-logo.png'%}" alt="лого">
            <h1 v-if="mobile" class="header-title">
                <span class="gradient">Мику</span>Бот
            </h1>
            <nav>
                <a href="/">Главная</a>
                <a href="/about-us">О нас</a>
            </nav>
        </header>


        <main>
            <h1 class="text-center">О нас</h1>

            <h1 class="title">
                Слова главного разработчика
            </h1>
            <div class="about-us-box">
                <p class="gradient">
                    Мы, простые студенты, изучающие программирование и играющие в бесконечное лето! У нас много планов, стремлений и амбиций... Мы хотели чтобы у всех желающих была возможность провести время с Мику, так что отдаём вам ее в ваши крепкие объятия, не обижайте ее
                    и будте счастливы!
                </p>
            </div>
            <h1 class="title">
                Команда
            </h1>
            <h2 class="sub-title">
                Руководитель проекта
            </h2>
            <div class="about-us-box">
                <h1>
                    Степан Купряшин
                </h1>
                <p>
                    Оказал огромнуюю помощь в разработке идеи, создании проекта: как сайта, так и бота. А так же в основном играл роль генератора идей 
                </p>
                <img onclick="window.open('https://vk.com/banderak')" src="{% static 'images/vk-logo.png'%}" alt="vk-logo" />
            </div>
            <h2 class="sub-title">Главный разработчик</h2>
            <div class="about-us-box">
                <h1>
                    Никита Олюнин
                </h1>
                <p>
                    Является организатором данного проекта, а так же его главным разработчиком. По всем вопросам связанные с проектом обращаться в лс
                </p>
                <img onclick="window.open('https://vk.com/olyunin96')" src="{% static 'images/vk-logo.png'%}" alt="vk-logo" />
            </div>
            <h2 class="sub-title">
                Дизайнер
            </h2>
            <div class="about-us-box">
                <h1>
                    Константин Васильев
                </h1>
                <p>
                    Помогал в создании дизайна сайта и идейный вдохновитель проекта.
                </p>
                <img onclick="window.open('https://vk.com/kakoy_yura_uspakoysa')" src="{% static 'images/vk-logo.png'%}" alt="vk-logo" />
            </div>
        </main>


        <footer v-if="!mobile">
            <img src="{% static 'images/footer-img.png'%}" alt="" >
            <img src="{%static 'images/miku-url.png'%}" id="qr-code-footer" onclick="window.open('https://web.telegram.org/z/#5156454212')">

            <div class="footer-description">
                <span>МикуБот</span>
                <span class = "after-footer-description">2022</span>
                <button class="donat">
                    <img src="{% static 'images/donat.png'%}" alt="" onclick="window.open('https://www.donationalerts.com/r/el_psy_congroo_sg')">
                </button>
            </div>
        </footer>
        <footer v-else id="mob-footer"> 
            <div class="footer-description">
                <span>2022</span>
                <h2>МикуБот</h2>
            </div>
            <img src="{%static 'images/footer-img-mobile.png'%}" alt="" id="mob-img-footer">
            <img src="{%static 'images/Group 3.png'%}" alt="" id="mob-donat" onclick="window.open('https://www.donationalerts.com/r/el_psy_congroo_sg')">
            <img src="{%static 'images/Group 4.png'%}" alt="" id="mob-fot-url" onclick="window.open('https://web.telegram.org/z/#5156454212')" >
        </footer>
    </div>
    <script src="{% static 'js/index.js' %}?{% now " U " %}"></script>

</body>

</html>