* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100% !important;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100% !important;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #13768C 0%, rgba(167, 234, 255, 0) 100%);
    background-color: #91deff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14vh;
}

header nav {
    display: flex;
    /* width: 100%; */
    width: 50%;
    position: relative;
    left: calc(50% - 50% / 2);
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

header nav a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 5%;
    /* identical to box height */
    /* color: #607d8b; */
    color: black;
    cursor: pointer;
    
}

header img {
    position: absolute;
    left: 2%;
    object-fit: contain;
    width: 10%;
    height: 90%;
    /* border-radius: 40%; */
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100% !;
    width: 100%;
}

main {
    height: max-content;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 6.5%;
    /* align-content: center;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    flex: 1 1 auto;
    display: flex;
}

main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    position: relative;
    left: 2%;
    line-height: 20vh;
}

.about-bot {
    background-image: linear-gradient(180deg, #00303A 0%, rgba(0, 118, 145, 0) 100%), url("../images/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    position: relative;
    left: 5%;
    height: 54rem;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.about-bot h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    position: relative;
    left: 2%;
    line-height: 130px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.7);
}

.about-bot p {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    position: relative;
    left: 2%;
    width: 50%;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, #00303A 0%, rgba(0, 118, 145, 0) 180%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.about-bot a {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;
    position: relative;
    left: calc(110px - 2% / 2);
    /* identical to box height */
    background: linear-gradient(180deg, #42B3D7 0%, rgba(167, 234, 255, 0.7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.func-box {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
}

.left-func {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-func span {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-top: 5%;
}

.right-func {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-func span {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-top: 5%;
}

.separator {
    border: 1px solid #000000;
    transform: rotate(180deg);
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    left: calc(50% - 50% / 2);
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}

form label {
    margin-top: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

form input,
textarea {
    background: rgba(66, 179, 215, 0.5);
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    height: 3rem;
    margin-top: 2%;
}

form textarea {
    height: auto;
}

form input[type="submit"] {
    background: #0e279ffa;
    width: 30%;
    text-align: center;
    left: calc(50% - 30% / 2);
    position: relative;
    font-size: 2rem;
    padding: 0%;
    cursor: pointer;
    color: #eaebc4;
}



footer {
    position: relative;
    height: 41vh;
    margin-top: auto;
    width: 100vw;
    background: linear-gradient(180deg, #13768C 0%, rgba(16, 168, 201, 0.48) 100%);
}

footer img {
    object-fit: contain;
    height: 100%;
}

.donat{
    outline: none;
    border: none;
    position: absolute;
    text-align: center;
    width: 16vh;
    height: 14vh;
    left: 7%;
    top: 23vh;
    border-radius: 10%;



}

.footer-description{
    position: absolute;
    width: 15%;
    height: 10%;
    left: 28%;
    top: 6%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 7vh;
    line-height: -1%;
    text-align: center;
    color: #FFFFFF;



}

.after-footer-description{
    position: absolute;
    width: 25vh;
    height: 20%;
    left: 86%;
    top: 6%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 7vh;
    line-height: -1%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

}

.about-func {
    background: none;
    text-align: center;
}

.about-func summary {
    background: none;
    width: 100%;
    line-height: 3rem;
    height: max-content;
}

.about-func summary span {
    line-height: 22px;
}

.about-func[open] summary {
    left: auto;
}

.about-func div {
    text-align: center;
    background: linear-gradient(134.42deg, rgba(66, 179, 215, 0.6) 25.25%, rgba(255, 255, 255, 0) 94.77%);
    position: relative;
    left: 16%;
    border-radius: 30px;
    word-wrap: break-word;
    height: max-content;
    padding: 10%;
    width: 50%;
}

h1.header-title {
    padding: 5%;
}

h1.header-title span.gradient {
    background: linear-gradient(180deg, #0FC5ED 0%, rgba(141, 200, 213, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h1.title {
    line-height: normal;
    text-align: left;
    margin-top: 3rem;
}

h2.sub-title {
    margin-top: 2rem;
    position: relative;
    left: 2%;
    font-size: 2rem;
}

.about-us-box {
    background: linear-gradient(134.42deg, rgba(66, 179, 215, 0.6) 25.25%, rgba(255, 255, 255, 0) 94.77%);
    border-radius: 30px;
    width: 50vw;
    height: max-content;
    left: calc(45% - 50vw / 2);
    position: relative;
    padding: 5%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.about-us-box h1 {
    text-align: center;
}

.about-us-box p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.about-us-box p.gradient {
    font-weight: 700;
    background: linear-gradient(180deg, #2385A5 0%, #0BB0E4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.about-us-box h1 {
    margin-top: auto;
    margin-bottom: 2%;
    line-height: normal;
}

.about-us-box img {
    object-fit: cover;
    position: relative;
    width: 30%;
    left: calc(50% - 30% / 2);
    cursor: pointer;
}

#qr-code-footer {
    object-fit: contain;
    width: 30%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 10%;
}

@media (max-width: 1024px) {
    html,
    main {
        width: 100vw !important;
        overflow-x: hidden;
    }
    main {
        margin-top: 8rem;
        margin-bottom: 15vh;
    }
    header {
        background: linear-gradient(180deg, #13768C 0%, rgba(167, 234, 255, 0) 100%);
        height: 30vh;
        width: 100vw !important;
        display: flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    header img {
        object-fit: contain;
        width: 50%;
        height: auto;
        background-repeat: no-repeat;
        position: relative;
        top: 3%;
    }
    main h1 {
        font-size: 2rem;
        margin-top: 20vh;
        text-align: center;
    }
    .about-bot h1 {
        font-size: 2rem;
    }
    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100% !;
        width: 100vw;
        overflow-x: hidden;
    }
    header nav {
        display: flex;
        /* width: 100%; */
        width: 100vw;
        position: relative;
        /* left: calc(50% - 50% / 2); */
        left: auto;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .about-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }
    .about-cyrcle {
        width: 70vw;
        height: auto;
        background: linear-gradient(180deg, rgba(0, 194, 255, 0.5) 0%, rgba(66, 179, 215, 0) 100%);
        border-radius: 300px;
    }
    .about-cyrcle img {
        object-fit: contain;
        width: 100%;
    }
    details {
        top: -2rem;
        position: relative;
    }
    summary {
        width: 30vw;
        text-align: center;
        height: 4vh;
        display: flex;
        justify-content: center;
        position: relative;
        background: linear-gradient(180deg, #7CD5F7 0%, rgba(204, 241, 255, 0.2) 100%);
        border-radius: 36px;
    }
    details>summary {
        /* list-style: none; */
    }
    details[open]>summary {
        margin: 0;
        position: relative;
        left: calc(50vw - 30vw / 2);
    }
    summary::-webkit-details-marker {
        width: 100%;
        position: absolute;
    }
    summary button {
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        list-style: none;
        background: linear-gradient(180deg, #009ACB 0%, #8DE4FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border: none;
        outline: none;
    }
    .about-details {
        background: linear-gradient(134.42deg, rgba(66, 179, 215, 0.6) 25.25%, rgba(255, 255, 255, 0) 94.77%);
        border-radius: 30px;
        text-align: center;
        padding-bottom: 15%;
        width: 80%;
        position: relative;
        left: 10%;
    }
    .about-details h1 {
        color: rgba(255, 255, 255, 0.9);
        margin: 0;
    }
    .about-details p {
        width: 80%;
        position: relative;
        left: 10%;
        margin: 0;
        text-align: center;
    }
    .left-func {
        margin-top: 15%;
    }
    .left-func span {
        font-size: 1rem;
        align-items: center;
    }
    .right-func {
        justify-content: unset;
        margin-top: 15%;
    }
    .right-func span {
        font-size: 1rem;
        align-items: center;
    }
    .about-details a {
        background: linear-gradient(180deg, #42B3D7 0%, rgba(167, 234, 255, 0.7) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 2rem;
    }
    .about-details a:link {
        background: linear-gradient(180deg, #42B3D7 0%, rgba(167, 234, 255, 0.7) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 2rem;
    }
    .about-details a:visited {
        background: linear-gradient(180deg, #42B3D7 0%, rgba(167, 234, 255, 0.7) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 2rem;
    }
    .about-details a:hover {
        background: linear-gradient(180deg, #42B3D7 0%, rgba(167, 234, 255, 0.7) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 2rem;
    }
    h1.title {
        line-height: normal;
        text-align: left;
        margin-top: 3rem;
    }
    h2.sub-title {
        margin-top: 2rem;
        position: relative;
        left: 2%;
    }
    .about-us-box {
        background: linear-gradient(134.42deg, rgba(66, 179, 215, 0.6) 25.25%, rgba(255, 255, 255, 0) 94.77%);
        border-radius: 30px;
        width: 80%;
        height: max-content;
        left: 5%;
        position: relative;
        padding: 5%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
    }
    .about-us-box p {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .about-us-box p.gradient {
        font-weight: 700;
        background: linear-gradient(180deg, #2385A5 0%, #0BB0E4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .about-us-box h1 {
        margin-top: auto;
        margin-bottom: 2%;
        line-height: normal;
    }
    form input[type="submit"] {
        background: #0e279ffa;
        width: 50vw;
        text-align: center;
        left: calc(50% - 50vw / 2);
        position: relative;
        font-size: 2rem;
        padding: 0%;
        cursor: pointer;
        color: #eaebc4;
    }

    #mob-img-footer {
        object-fit: cover;
        height: 54%;
        width: 30%;
        position: relative;
        top: -8vh;
        
    }

    #mob-footer{
        width: 100vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        flex-direction: row;
    }

    #mob-donat{
        object-fit: contain;
        height: 29%;
        top: -1vh;
        position: relative;
    }

    #mob-fot-url{
        object-fit: contain;
        height: 29%;
        top: -1vh;
        position: relative;
    }

    .footer-description {
        left: 40%;
        line-height: normal;
        top:  3%;
        font-size: 2rem;
    }
    .footer-description span {
        font-size: 2rem;
    }
    .footer-description h2 {
        font-size: 2rem;
    }
}